{% extends 'tests/base.html' %}
{% load static %}
{% block css %}
<link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="mt-5">Тестирование</h1>
                <p>
                    Набор тестов на различные тематики по категориям
                </p>
                {% if user.is_authenticated %}
                <button id="start-purchase-btn" type="button" class="btn btn-lg">
                    <a id="start-purchase-link" href="{% url 'tests:index' %}">
                        Начать
                    </a>
                </button>
                {% else %}
                <p>Чтобы начать тестирование необходимо войти</p>

                {% endif %}
            </div>
        </div>
    </div>
</section>
<div style="padding-left:130px; margin-top:300px">
    {% now "Y" %}
</div>
{% endblock %}